
<%- include('./layout') -%>
<body>
    <h3>Login</h3>

    <form action="/login" method="post">
        <div class="form-group row">
            <label for="username" class="col-sm-2 col-form-label">Username/Email</label>
            <div class="col-sm-2">
                <input class="form-control form-control-sm" rows="3" type="text" name="user" /></p>
            </div>
        </div>
        <button class="btn btn-primary mb-4">LOGIN</button>
    </form>
    
</body>
</html>

