<p>Desde el archivo home</p>

{{#with person}}
    <h3> {{firstName}} {{lastName}} </h3>
{{/with}}


<div class="container">

    <div class="row">
        <div class="col-sm">
        Producto
        </div>
        <div class="col-sm">
        Precio
        </div>
        <div class="col-sm">
        Imagen
        </div>
    </div>

    {{#each products}}
        <div class="row">
            <div class="col-sm">
            {{this.title}}
            </div>
            <div class="col-sm">
            {{this.price}}
            </div>
            <div class="col-sm">
            Imagen
            </div>
        </div>
    {{/each}}


</div>